<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>INGRESO DE USUARIO</h1>
	
	<form action="jdbc:mysql://localhost:3306/huespedes_hotel?serverTimezone=UTC">
		<label>DNI</label>
		 <input id="idDNI" type="number"/>
		  <br/>
		 <label>Password</label>
		 <input id="idpasword"type="text"/>
		 <br/>
		 <button type="submit">Iniciar sesion</button>
		
	</form>
	
	
	<table>
		<th>Nombre</th>
		<th>Apellido</th>
		<th>Fecha Nacimiento</th>
		<tr>
			<td>Johana</td>
			<td>Ramirez</td>
			<td>2002</td>
		</tr>
			<tr>
			<td>Johan</td>
			<td>Ramz</td>
			<td>2002</td>
		</tr>
		
	</table>
</body>
</html>