<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<p>EJEMPLO HTML</p>
	
	<form action="">
		<label>Nombre</label>
		 <input id="idnombre" type="text"/>
		 
		 <label>Apellido</label>
		 <input id="idpellido"type="text"/>
		 <br/>
		 <button type="submit">Cargar Asistencia</button>
		
	</form>
	
	
	<table>
		<th>Nombre</th>
		<th>Apellido</th>
		<th>Fecha Nacimiento</th>
		<tr>
			<td>Johana</td>
			<td>Ramirez</td>
			<td>2002</td>
		</tr>
			<tr>
			<td>Johan</td>
			<td>Ramz</td>
			<td>2002</td>
		</tr>
		
	</table>
	

</body>

</html>